<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fantome</title>
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');
        * {
            margin: 0;
            padding: 0;
            font-family: 'Source Sans Pro', sans-serif;
        }

        body {
            margin: 0;
            padding: 0;
            background: #f3f3f3;
            width: 100%;
            height: 100vh;
        }

        main {
            margin: 0;
            padding: 0;
            width: 100%;
            min-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            width: 100%;
            height: 100%;
            max-width: 997px;
            padding: 25px;
            text-align: center;
        }

        .container h2 {
            font-size: 3em;
            margin-bottom: 15px;
        }


        .container a {
            padding: 15px 25px;
            background: transparent;
            border: 3px solid #3a3a3a;
            border-radius: 45px;
            margin: 0;
            box-sizing: border-box;
            display: inline-block;
            text-decoration: none;
            color: #3a3a3a;
            font-weight: 600;
        }
    </style>
</head>

<body>
    <main>
        <div class="container">
            <h2>Fantome Marketplace</h2>
            <a href="//fantome.ga">Go to Site</a>
        </div>
    </main>
</body>

</html>